<div class="K.Z_Art_form">

<%= form_for(@user_login) do |f| %>
  <% if @user_login.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_login.errors.count, "error") %> 
      prohibited this user_login from being saved:</h2>

      <ul>
      <% @user_login.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset> 
  <legend>Enter User Details</legend>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </fieldset>
<% end %>
</div>
