<p id="notice"><%= notice %></p>

<div class="row">
<div class="col-md-14">

<h1>Listing Orders</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.address %></td>
        <td><%= order.city %></td>
        <td><%= order.state %></td>
<td>
<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Edit <span class="caret"></span>
  </button>

        <ul class="dropdown-menu">
   <li class="center"> <%= link_to "View", order, class: "btn btn-link" %> </li>
      <li class="center"><%= link_to "Edit", edit_order_path(order), class: "btn btn-link" %> </li>
      <li class="center"><%= link_to "Delete", order, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %> </li>
    </td>
  </ul>
</div>
</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path, class: "btn btn-link",  class: "btn btn-primary" %>

</div>
</table>




  










