<!DOCTYPE html>
<html>
<head>
  <title>EtsyDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<!--this render below directs to the _header.html.erb  file in layouts which is called a "partial" and helps to simply keep my code cleaner and easier to read and maintain --> 
<%= render 'layouts/header' %> 

<div class="container">

	<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       
	<%= yield %>
<br>	
<h1><%= current_user.id %></h1>
<%= render 'layouts/footer'%>
</div>
</body>
</html>
